@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(49, 49, 49);
  --s: 50px; /* size  */
  --m: 4px; /* margin */
  display: flex;
  justify-content: center;
}

.buildBtn {
  padding: 10px;
}

#myCanvas {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(77, 77, 77);
  cursor: none;
}

#menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 1000;
  color: white;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
}

#picker {
  margin: 30px;
  position: relative;
  display: flex;
  font-size: 0;
  width: auto;
  height: auto;
}

.size {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#picker div:hover {
  border: 1px white solid;
}

._cc6155 {
  background-color: #cc6155;
}
._af7ac4 {
  background-color: #af7ac4;
}
._5599c7 {
  background-color: #5599c7;
}
._48c9b0 {
  background-color: #48c9b0;
}
._53be80 {
  background-color: #53be80;
}
._f4cf40 {
  background-color: #f4cf40;
}
._eb984e {
  background-color: #eb984e;
}
._f0f3f4 {
  background-color: #f0f3f4;
}
._a9b7b8 {
  background-color: #a9b7b8;
}
._5d6d7d {
  background-color: #5d6d7d;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuItem {
  margin: 10px;
}

#start {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: larger;
  color: lightgreen;
}

.error-message {
  display: none;
  color: red;
  font-weight: bold;
  margin: 20px;
}

#error {
  display: none;
}

#cursor {
  position: absolute;
  cursor: none;
  font-size: 20px;
  color: white;
  left: -10px;
  top: -10px;
  z-index: 100;
}

#message {
  display: none;
  position: absolute;
  top: 500px;
  left: 500px;
}
