@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(49, 49, 49);
  --s: 50px; /* size  */
  --m: 4px; /* margin */
}

#myCanvas {
  display: none;
}

#menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 1000;
  color: black;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
}

#picker {
  margin: 30px;
  position: relative;
  display: flex;
  font-size: 0;
  width: auto;
  height: auto;
}

.size {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.black {
  background-color: black;
}
#picker div:hover {
  border: 1px white solid;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.purple {
  background-color: purple;
}
.pink {
  background-color: pink;
}
.orange {
  background-color: orange;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menuItem {
  margin: 10px;
}

#start {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: larger;
}

#error {
  display: none;
}
